.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-gray);
    padding: 1rem 0 .5rem;
    font-weight: 500;
    font-size: 12px;
}

.footerMenu {
    display: flex;
    column-gap: 1rem;
}

.footerMenu li {
    cursor: pointer;
}

.footerMenu li:not(:last-of-type) {
    position: relative;
    padding-right: 1rem;
}

.footerMenu li:not(:last-of-type)::after {
    content:"";
    cursor: default;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--color-gray);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width:750px) {
    .footerMenu {
        flex-direction: column;
    }
    .footerMenu li::after {
      display: none;  
        padding-right: 0;
    }
}
