body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 2rem 2rem 0 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style-type: none;
}

@media only screen and (max-width:600px) {
  body {
    padding: 1rem 1rem 0 1rem;
  }
}
